# coding: utf-8

"""
    Aliz AIP REST API

    AIP Workspace API.  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: aip-support@aliz.ai
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from aliz.aip.sdk.api_client import ApiClient


class ReportControllerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_cumulative_daily_spendings(self, workspace_id, budget_id, _from, until, **kwargs):  # noqa: E501
        """get_cumulative_daily_spendings  # noqa: E501

        Retrieves a list of daily spendings for a given budget  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cumulative_daily_spendings(workspace_id, budget_id, _from, until, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workspace_id: ID of the workspace from where to query the spendings (required)
        :param str budget_id: ID of the budget from where to query the spendings (required)
        :param date _from: Date from (inclusive) (required)
        :param date until: Date until (exclusive) (required)
        :return: list[float]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_cumulative_daily_spendings_with_http_info(workspace_id, budget_id, _from, until, **kwargs)  # noqa: E501
        else:
            (data) = self.get_cumulative_daily_spendings_with_http_info(workspace_id, budget_id, _from, until, **kwargs)  # noqa: E501
            return data

    def get_cumulative_daily_spendings_with_http_info(self, workspace_id, budget_id, _from, until, **kwargs):  # noqa: E501
        """get_cumulative_daily_spendings  # noqa: E501

        Retrieves a list of daily spendings for a given budget  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cumulative_daily_spendings_with_http_info(workspace_id, budget_id, _from, until, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workspace_id: ID of the workspace from where to query the spendings (required)
        :param str budget_id: ID of the budget from where to query the spendings (required)
        :param date _from: Date from (inclusive) (required)
        :param date until: Date until (exclusive) (required)
        :return: list[float]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['workspace_id', 'budget_id', '_from', 'until']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_cumulative_daily_spendings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'workspace_id' is set
        if ('workspace_id' not in params or
                params['workspace_id'] is None):
            raise ValueError("Missing the required parameter `workspace_id` when calling `get_cumulative_daily_spendings`")  # noqa: E501
        # verify the required parameter 'budget_id' is set
        if ('budget_id' not in params or
                params['budget_id'] is None):
            raise ValueError("Missing the required parameter `budget_id` when calling `get_cumulative_daily_spendings`")  # noqa: E501
        # verify the required parameter '_from' is set
        if ('_from' not in params or
                params['_from'] is None):
            raise ValueError("Missing the required parameter `_from` when calling `get_cumulative_daily_spendings`")  # noqa: E501
        # verify the required parameter 'until' is set
        if ('until' not in params or
                params['until'] is None):
            raise ValueError("Missing the required parameter `until` when calling `get_cumulative_daily_spendings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'workspace_id' in params:
            path_params['workspaceId'] = params['workspace_id']  # noqa: E501
        if 'budget_id' in params:
            path_params['budgetId'] = params['budget_id']  # noqa: E501

        query_params = []
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'until' in params:
            query_params.append(('until', params['until']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer-key']  # noqa: E501

        return self.api_client.call_api(
            '/api/report/v1/workspaces/{workspaceId}/budgets/{budgetId}/cost', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[float]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_daily_spendings(self, workspace_id, _from, until, **kwargs):  # noqa: E501
        """get_daily_spendings  # noqa: E501

        Retrieves a list of daily spendings for a given workspace, all budgets aggregated  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_daily_spendings(workspace_id, _from, until, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workspace_id: ID of the workspace from where to query the spendings (required)
        :param date _from: Date from (inclusive) (required)
        :param date until: Date until (exclusive) (required)
        :return: list[float]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_daily_spendings_with_http_info(workspace_id, _from, until, **kwargs)  # noqa: E501
        else:
            (data) = self.get_daily_spendings_with_http_info(workspace_id, _from, until, **kwargs)  # noqa: E501
            return data

    def get_daily_spendings_with_http_info(self, workspace_id, _from, until, **kwargs):  # noqa: E501
        """get_daily_spendings  # noqa: E501

        Retrieves a list of daily spendings for a given workspace, all budgets aggregated  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_daily_spendings_with_http_info(workspace_id, _from, until, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workspace_id: ID of the workspace from where to query the spendings (required)
        :param date _from: Date from (inclusive) (required)
        :param date until: Date until (exclusive) (required)
        :return: list[float]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['workspace_id', '_from', 'until']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_daily_spendings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'workspace_id' is set
        if ('workspace_id' not in params or
                params['workspace_id'] is None):
            raise ValueError("Missing the required parameter `workspace_id` when calling `get_daily_spendings`")  # noqa: E501
        # verify the required parameter '_from' is set
        if ('_from' not in params or
                params['_from'] is None):
            raise ValueError("Missing the required parameter `_from` when calling `get_daily_spendings`")  # noqa: E501
        # verify the required parameter 'until' is set
        if ('until' not in params or
                params['until'] is None):
            raise ValueError("Missing the required parameter `until` when calling `get_daily_spendings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'workspace_id' in params:
            path_params['workspaceId'] = params['workspace_id']  # noqa: E501

        query_params = []
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'until' in params:
            query_params.append(('until', params['until']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer-key']  # noqa: E501

        return self.api_client.call_api(
            '/api/report/v1/workspaces/{workspaceId}/spendings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[float]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
